Lesson08/Flow-1-Update-Vector-Database.json
{
  "name": "Update-Vector-Database",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1168,
        -48
      ],
      "id": "9d7701fe-e782-4c87-bf1d-a001bfe66f08",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "=https://knowledgebase.hrchronicle.com/wp-json/wp/v2/ht-kb?per_page=50&page={{ $json.page }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -272,
        -48
      ],
      "id": "106caf9f-c1c3-4be1-b909-75165cd68618",
      "name": "Fetch KB articles",
      "credentials": {
        "wordpressApi": {
          "id": "1mbVXp7c0ceXfYmb",
          "name": "HRC-KB"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://knowledgebase.hrchronicle.com/wp-json/wp/v2/ht-kb?per_page=1&page=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -720,
        -48
      ],
      "id": "75bd133b-d410-464e-b2f5-5300460d8763",
      "name": " Fetch total pages",
      "credentials": {
        "wordpressApi": {
          "id": "1mbVXp7c0ceXfYmb",
          "name": "HRC-KB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const totalPosts = parseInt(\n  $input.first().json.headers['x-wp-total']\n);\nconst totalPages = Math.ceil(totalPosts / 50);\n\nconst pages = [];\nfor (let i = 1; i <= totalPages; i++) {\n  pages.push({ json: { page: i } });\n}\n\nreturn pages;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        -48
      ],
      "id": "11848c9a-072a-45df-9b7c-4001e8012c0c",
      "name": "Calculate page numbers"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const post = item.json;\n  \n  const title = post.title.rendered\n    .replace(/<[^>]*>/g, '')\n    .trim();\n    \n  const content = post.content.rendered\n    .replace(/<[^>]*>/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n  \n  return {\n    json: {\n      pageContent: `${title}\\n\\n${content}`,\n      title: title,\n      link: post.link?.trim(),\n      date: post.date,\n      articleId: post.id\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        -48
      ],
      "id": "3299fa8a-787a-4e08-9a79-2301216b7e2a",
      "name": "Clean HTML and format documents"
    },
    {
      "parameters": {
        "model": "text-embedding-ada-002",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        96,
        160
      ],
      "id": "a8334868-9fe6-4f3d-89d9-436d2dd36c7b",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "oAMcoytCSOzDjNK3",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "hrc_kb_articles",
          "mode": "list",
          "cachedResultName": "hrc_kb_articles"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        176,
        -48
      ],
      "id": "c6bf096c-4407-4721-907a-92fce454ff24",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "A2AIxI4Ke4dVjsM4",
          "name": "Qdrant"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Clean HTML and format documents').item.json.pageContent }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=title",
                "value": "={{ $json.title }}"
              },
              {
                "name": "link",
                "value": "={{ $json.link }}"
              },
              {
                "name": "date",
                "value": "={{ $json.date }}"
              },
              {
                "name": "articleId",
                "value": "={{ $json.articleId }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        320,
        176
      ],
      "id": "e8f0855a-e2f2-4665-b775-42423c83106f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/hrc_kb_articles/points/delete",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "qdrantApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -944,
        -48
      ],
      "id": "73b7206e-d2c9-449a-a59d-39822469f99d",
      "name": "Delete old points",
      "credentials": {
        "qdrantApi": {
          "id": "A2AIxI4Ke4dVjsM4",
          "name": "Qdrant"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Delete old points",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Fetch total pages": {
      "main": [
        [
          {
            "node": "Calculate page numbers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate page numbers": {
      "main": [
        [
          {
            "node": "Fetch KB articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch KB articles": {
      "main": [
        [
          {
            "node": "Clean HTML and format documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean HTML and format documents": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        []
      ]
    },
    "Delete old points": {
      "main": [
        [
          {
            "node": " Fetch total pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e60f76ba-0834-4d11-914f-7637a2d93f3c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7911d7f63b0dbae6cba2ddc5fec9af1346b2057d7dacb0fec446785ab951079e"
  },
  "id": "0EshRhY9A6jXYQaF",
  "tags": []
}