Lesson08/Flow-2-HRC-ChatBot.json
{
  "name": "ChatBot",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nI am a sample chat bot and I am trained to answer questions from HR Chronicle knowledgebase https://knowledgebase.hrchronicle.com/",
        "options": {
          "allowedOrigins": "https://knowledgebase.hrchronicle.com",
          "loadPreviousSession": "memory",
          "subtitle": "HR Chronicle Chatbot ",
          "title": "Hi there! 👋"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -656,
        -144
      ],
      "id": "d8ea242d-aac5-4bb7-b9b7-ed9ec7094db2",
      "name": "When chat message received",
      "webhookId": "0476ea4a-06f5-40c5-9ffc-c4876a5667cd"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -688,
        48
      ],
      "id": "a2f90fec-8b0e-461f-a968-c1ce943f9988",
      "name": "ChatHistory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"text-embedding-ada-002\",\n  \"input\": \"{{ $json.chatInput }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -304,
        -144
      ],
      "id": "44b07c16-1c03-4851-bdfd-f3afb4e1b97c",
      "name": "Create-Embeddings",
      "credentials": {
        "openAiApi": {
          "id": "oAMcoytCSOzDjNK3",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/hrc_kb_articles/points/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"vector\": [{{ $json[\"data\"][0][\"embedding\"] }}],\n  \"limit\": 3,\n  \"with_payload\": true,\n  \"score_threshold\": 0.6\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -80,
        -144
      ],
      "id": "f92e216a-2f68-4e50-a1fd-aa57ad27396e",
      "name": "Search-Embeddings",
      "credentials": {
        "openAiApi": {
          "id": "oAMcoytCSOzDjNK3",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const contextTexts = items[0].json.result.map(item => {\n  const title = item.payload.metadata.title;\n  const content = item.payload.content;\n  const url = item.payload.metadata.link;\n  return `${title}\\n${content}\\n[Read in knowledge base](${url})`;\n});\n\nconst context = contextTexts.join('\\n---\\n');\n\nreturn [\n  {\n    json: {\n      context: context,\n      question: items[0].json.message,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        -144
      ],
      "id": "3c394228-c805-45b0-941b-493dffa1c04d",
      "name": "FormatDataFromQdrant"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Question: {{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "=You are a helpful HR support assistant for HR Chronicle.\nAnswer the user's question using only the context below.\nBe clear and structured.\n\nIf the answer isn't in the context, say: \"I couldn't find a clear answer in the knowledge base.\"\n\nAlways end with: [Read in knowledge base]({{url}})\n\nDo not repeat the source link.\n\nContext:\n{{ $json.context }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        368,
        -144
      ],
      "id": "9a670de0-3177-4fa8-ad60-9e40621f8083",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "gpt-4"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        272,
        64
      ],
      "id": "e8ff6c56-5e3c-411b-8ef3-3c1717b97692",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "oAMcoytCSOzDjNK3",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        432,
        80
      ],
      "id": "27afeb57-18a2-4d32-91ca-20686e624553",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "// Get the AI response text\nconst aiResponse = $input.first().json.output;\n\n// Extract the actual URL from the AI response\nfunction extractLinkFromResponse(text) {\n  const linkRegex = /\\[Read in knowledge base\\]\\(([^)]+)\\)/;\n  const match = text.match(linkRegex);\n  return match ? match[1].trim() : \"https://knowledgebase.hrchronicle.com/kb/\";\n}\n\nconst cleanLink = extractLinkFromResponse(aiResponse);\n\n// Format the text for Markdown display\nfunction formatForChat(text) {\n  // Remove the markdown link first (we'll add our version later)\n  text = text.replace(/\\[Read in knowledge base\\]\\([^)]+\\)/, '');\n  \n  // Clean up excessive newlines (2+ newlines → 2 line breaks)\n  text = text.replace(/\\n{3,}/g, '\\n\\n');\n  \n  // Ensure numbered list items are properly formatted with newlines\n  text = text.replace(/(\\d+\\.\\s[^\\n]+)/g, '\\n$1');\n  \n  // Convert any remaining markdown formatting if needed\n  // (bold text already uses ** ** syntax in typical AI responses)\n  \n  // Add the markdown link at the end\n  text += `\\n\\n[Read in knowledge base](${cleanLink})`;\n  \n  // Clean up any extra whitespace\n  text = text.trim();\n  \n  return text;\n}\n\n// Format the AI response\nconst formattedReply = formatForChat(aiResponse);\n\n// Return the formatted message\nreturn [\n  {\n    json: {\n      message: formattedReply,\n      // You can add a format indicator if needed\n      format: 'markdown'\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -144
      ],
      "id": "a4c1b97f-9eed-4f23-8d63-d6c581dd8abd",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "ChatHistory": {
      "ai_memory": [
        [
          {
            "node": "When chat message received",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Create-Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create-Embeddings": {
      "main": [
        [
          {
            "node": "Search-Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search-Embeddings": {
      "main": [
        [
          {
            "node": "FormatDataFromQdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FormatDataFromQdrant": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "17ccc6ea-3627-4ec8-81be-9d1416af043b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7911d7f63b0dbae6cba2ddc5fec9af1346b2057d7dacb0fec446785ab951079e"
  },
  "id": "lmKomegC7mBDB2A9",
  "tags": []
}